body {
  background: white;
}

.centered {
  @include outer-container;
}

// code {
//   background: #f8f8f8;
//   padding: 4px;
//   border-radius: 2px;
// }

#header {
  @include row;
  @extend %navigation-header;

  .logo {
    color: white;
    font-family: $brand-font;
    font-size: 20px;
    padding: 8px 0 0 0;

    img {
      width: 125px;
    }
  }
}

.sidenav {
  @include span-columns(3);
  padding-bottom: 3em;

  ul {
    li {
      background-color: $dark-red;
      border-bottom: solid 1px #fff;

      a {
        display: block;
        width: 100%;
        padding: .5em;
        color: #fff;

        &.active,
        &:hover {
          color: #000;
          background: {
            color: $yellow;
          }
        }
      }

      ul {
        border-top: solid 1px #fff;

        li {
          // background: #122b3b;
          background: desaturate($red, 45%);
          font-size: .85em;

          &:last-child {
            border: none;
          }

          a {
            padding-left: 1.5em;

            &.active,
            &:hover {
              // color: white;
              // background: lighten(#122b3b, 15%);
              background: desaturate($yellow, 20%);
            }
          }

          ul {
            border-top: solid 1px #fff;

            li {
              font-size: .75em;

              a {
                padding-left: 3.75em;
              }
            }
          }
        }
      }
    }
  }
}

.content {
  @include span-columns(9);
  @include omega;
}

#content {
  @include row;

  .project-name {
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    font-family: $brand-font;
  }

  h1 {
    @include fill-parent;
    color: $dark-red;
  }
}

#footer {
  @include row;
  background: $footer-background-color;
  color: $header-text-color;
  min-height: em(50);
}

.github-buttons {
  @include span-columns(8);
  @include shift(2);
  @include omega;
  text-align: center;
  margin-bottom: 5em;
  margin-top: 5em;

  a {
    margin: 0 1em;
    display: inline-block;
  }

  // .issues {
  //   @include button-color($red);
  // }
}

.unframework {
  @include fill-parent;
  clear: left;
  margin-bottom: 4em;
}

.features {
  @include fill-parent;
  clear: both;

  h2 {
    border-bottom: solid 1px $heading-border-color;
    padding-bottom: .5em;
  }

  .why-jskit {
    @include span-columns(4);
  }

  .lightweight {
    @include span-columns(4);
  }

  .decoupled {
    @include span-columns(4);
    @include omega;
  }
}

.about {
  ul {
    list-style-type: disc;
    padding:  0 0 0 1em;
  }
}

.note {
  background: $lightest-yellow;
  padding: 1em;
}
