// Buttons
$all-button-inputs: ".button";
// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;
$brand-font: "Allerta Stencil", sans-serif;
// Font Sizes
$base-font-size: em(18);

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$button-border-radius: 20px;
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$dark-red: #a00000;
$red: #de0005;
$light-red: #fe524e;
$lightest-red: #fe7d78;

$green: #0d9f28;
$dark-green: #07731c;
$light-green: #3cc15b;
$lightest-green: #65d882;

$yellow: #f8dc3d;
$dark-yellow: #a08800;
$light-yellow: #fee748;
$lightest-yellow: #feef75;

$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$error: #FC333F;

$dark-turquoise: #012525;
$turquoise: #044e4e;
$light-turquoise: #0d6160;

$link-color: $dark-red;
$link-hover-color: lighten($link-color, 15%);
$list-item-border-color: $link-color;
$header-background-color: $dark-red;
$header-text-color: $dark-yellow;

$heading-color: lighten(#000, 15%);
$heading-border-color: $heading-color;

$footer-background-color: $header-background-color;
$footer-text-color: $header-text-color;

$navigation-link-color: #fff;
$navigation-link-hover-color: darken($navigation-link-color, 15%);
// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $dark-green;
$button-text-color: #000;
$button-color: $yellow;

$ribbon-color: $yellow;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
