.sidenav
  %ul
    %li= link_to "Installation", "#installation"
    %li= link_to "Getting Started", "#getting-started"

.content
  %h1 Guides

  %h2#installation
    Installation
  %p
    Add `rails_jskit` to your Gemfile

  :code
    # lang: ruby
    gem "rails_jskit"
